html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;;
}

#planet-viewer-window {
  position: relative;
  margin: 0;
}

.button-controls {
  position: absolute;
  z-index: 1;
  background-color: rgb(2, 48, 134);
  margin: 1%;
  padding: 5px;
  min-width: 35px;
  color: white;
  box-shadow: 0 0 25px rgb(45, 1, 128);
  border: none;
}

.button-controls:hover {
  cursor: pointer;
}

.header {
  font-weight: 700;
  background-color: rgb(18, 0, 78);
  color:white;
  margin:0;
  text-align: center;
  padding: 2%;
  width: 100%;
}

#out-button {
  left: 25%;
  bottom: 5%;
}

#in-button {
  left: 35%;
  bottom: 5%;
}

#left-button {
  right: 35%;
  bottom: 5%;
}

#right-button {
  right: 25%;
  bottom: 5%;
}

#title-card {
  position: absolute;
  left: 0%;
  top: 8%;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 3em;
  width: 100%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.slider-controls {
  position: absolute;
  bottom: 2%;
  left: 40%;
  margin: -1px;
  width: 250px;
  line-height: 20px;
  height: 20px;
}